
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --color-primario: #000000;
    --color-secundario: #f6f6f6;
    --color-terciario:  #22D4FD;
    --fuente-montserrat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
    --color-hover: #272727;

}
* {
    padding: 0;
    margin:0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}

.Header{
    padding: 2% 0% 0% 15%;


}

.Header_menu{
    display:flex;
    gap: 80px;

}

.Header_menu_link{
     font-family: var(--fuente-montserrat);
     font-size: 1.5rem;
     font-weight: 600;
     color: var(--color-terciario);
     text-decoration: none;
}
img {
  width: 400px;     /* ancho fijo */
  height: auto;     /* ajusta alto proporcionalmente */
  border-radius: 15px; /* esquinas redondeadas */
}

.presentacion {
    display: flex;
    align-items: center;
    padding: 6% 15%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion_contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:40px;
}

.presentacion_contenido_titulo{
    font-size: 2.25rem;
      font-family: var(--fuente-krona)
}

.titulo-destaque {
    color: var(--color-terciario) ;
}

.presentacion_contenido_texto{
    font-size: 1.5rem;
      font-family: var(--fuente-montserrat);
}

.presentacion_enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;


}

.presentacion_enlaces_subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font: weight 400;


}

.presentacion_enlaces_link{
    width: 50%;
    border-radius: 8px; /* esquinas redondeadas */
    text-align: center;
    padding: 21.5px 0;
    color: var(--color-secundario);
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid var(--color-terciario);
    justify-content: center;
    gap: 10px;
    
}

.presentacion_enlaces_link img {
    width: 40px;       /* ajusta este valor según el tamaño que quieras */
    height: 40px;      /* mantiene proporción si usas object-fit */
    object-fit: contain; /* evita deformaciones */
    margin-right: 12px;  /* espacio entre el icono y el texto */
    vertical-align: middle; /* alinea icono y texto en la misma línea */
}

.presentacion_imagen {
    with:50%;

}

.presentacion_enlaces_link:hover{
    background-color: var(--color-hover);
}
.footer{
    background-color: var(--color-terciario);
    padding: 1.5rem;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;

}

@media (max-width:1200px){
    .Header{
        padding: 10%;
    }
    .Header_menu{
        justify-content: center;
    }
    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .presentacion_contenido{
        width: auto;
    }
    

}
